<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bftest.mapper.BfQuestionMapper">
  <resultMap id="BaseResultMap" type="com.example.bftest.pojo.BfQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="question_code" jdbcType="VARCHAR" property="questionCode" />
  </resultMap>
</mapper>