<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bftest.mapper.BfUserMapper">
  <resultMap id="BaseResultMap" type="com.example.bftest.pojo.BfUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="img_head" jdbcType="VARCHAR" property="imgHead" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="chinese_name" jdbcType="VARCHAR" property="chineseName" />
  </resultMap>
</mapper>